.hero-header {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .hero-img {
    width: 100%;
    height: auto;
    display: block;
    object-position: center -20px;
  }
  
  .hero-text h1 {
    font-size: 3em;
    margin: 0;
  }
  
  .hero-text p {
    font-size: 1.5em;
    margin-top: 10px;
  }
  
  body {
    background-color: #141117;
  }
  
  .navbar-home {
    background-color: #D83148;
    padding: 0.5em 0;
    text-align: center;
  }
  
  .navbar-glass {
    background-color: #33AAFF;
    padding: 0.5em 0;
    text-align: center;
  }

  .navbar-partners {
    background-color: #39D070;
    padding: 0.5em 0;
    text-align: center;
  }

  .navbar-gallery {
    background-color: #988AA8;
    padding: 0.5em 0;
    text-align: center;
  }

  .navbar-contact {
    background-color: #E5DA10;
    padding: 0.5em 0;
    text-align: center;
  }

  .nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 2em;
  }
  
  .nav-list li a {
    color: #141117;
    text-decoration: none;
    font-family: "Chelsea Market", system-ui;
    font-weight: bold;
    font-size: 1.7em;
    transition: color 0.2s ease;
  }
  
  .nav-list li a:hover {
    color: #fff;
  }

  .chelsea-market-regular {
    font-family: "Chelsea Market", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  
  